html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM - 10px */
}
*, *:before, *:after{
  box-sizing: inherit;
}

body{
  margin: 0;
}

:root {
  --bg-blue: #93B5C9;
  --bg-wine: #AB2849;
}

.div-1{
  width: 100%;
  height: 12vh;
  background-color: var(--bg-blue);
}

.div-2{
  width: 100%;
  height: 20vh;
  background-color: var(--bg-wine);
}

.div-3{
  width: 100%;
  height: 55vh;
  text-align: right; 
}

.div-3 div{
  display: inline-block; 
  background-color: var(--bg-wine);
  width: 70%;
  height: 12vh;
  margin-top: 1rem;
}

.div-4{
  width: 100%;
  height: 15vh;
}

.div-4 div{
  background-color: var(--bg-wine);
  width: 95%;
  height: 10vh;
  margin: 1.5rem auto; 
}


